<html>
<head>
  <title> Food Ordering System</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Food Ordering System</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% unless restaurant_owner_signed_in? %>
          <li><a href="/restaurants">Restaurants<span class="sr-only">(current)</span></a>
          </li>
      <% end %>
      <% if restaurant_owner_signed_in? %>
          <li><a href="/orders">Orders</a></li>
          <li><a href="">Menu Items</a></li>

      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class = "cart-text"><%= render 'layouts/cart_text' %></li>
      <li class="navbar-text"><% if user_signed_in? %>
            Welcome <%= current_user.first_name %>
        <% elsif restaurant_owner_signed_in? %>
            Welcome <%= current_restaurant_owner.email %>
        <% end %>
      </li>
      <li ><% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% elsif restaurant_owner_signed_in? %>
            <%= link_to "Sign out", destroy_restaurant_owner_session_path, :method => :delete %>
        <% else %>
            <%= link_to "Login", new_user_session_path %>
        <% end %>
      </li>

    </ul>
    </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container">
  <header class="jumbotron hero-spacer">
    <p>  <%= yield %></p>
    <hr>
  </header>
</div>


</div>
</body>